@model Person
</br>
<div class="container">
    <div class="list-group">
        <div class="row">
            <div class="list-group-item">
                <div class="row text-left">
                    <div>
                        Name: @Model.Name
			<div>Phone: @Model.PhoneNumber </div>
			<div>City: @Model.City</div>
			<div>Person ID: @Model.Id</div>
			<div>
			    <a asp-action="Delete" asp-controller="Home" asp-route-id=@Model.Id >Delete Person</a>
			</div>
		    </div>
                </div>
            </div>
        </div>
    </div>
</div>
